# How to Read data using Pandas

In [1]:
#Pandas helps you read data very easily and efficiently
import pandas as pd

In [4]:
#Windows uses forward '\' and unix and mac uses backward slash
df = pd.read_csv(r'/Users/csuftitan/Downloads/Pandas/amazon_reviews.csv')
#r converted this path to raw string so we wont get error due to forward \ or backward / slash

## Different data structures in Pandas

### Series

These are like 1 Dimensional data just like list. Here in our table each row or each coulmn can be individually considered as a Series

In [7]:
print(df['Id']) #dtype means data type 
type(df['Id'])

0       59033
1      514838
2      419751
3         870
4      282582
        ...
995     65930
996    465157
997    393049
998     79165
999    430883
Name: Id, Length: 1000, dtype: int64

pandas.core.series.Series

### DataFrame

Are 2 dimensional data just like tables or a better example would be like Matrices. Dataframe is nothing but a sequence or collection of series.

In [9]:
df

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,59033,B002HQLY7S,AR89H8T4PVWSL,rumbull01,NaN,0.0,5.0,1320192000,Awesome coffee,Purchasing this coffee was definatly worth it!...
1,514838,B007IVEP8C,A15VHPHU0V8GOH,"Judith A. Weller ""jw1917""",0.0,0.0,1.0,1345766400,Like Sugar Syrup,This has to be the worst product trying to pas...
2,419751,B0029ZAOW8,A3CG7K9OQ5M0RI,reviewer,2.0,2.0,5.0,1278633600,Reviewer,"Can't rate this stuff highly enough, does as a..."
3,870,B000VKYKTG,A1C1Y0S6QPBM4W,R. Dzuris,0.0,0.0,5.0,1231286400,Great Buy,These where great couldnt stop eating them.<br...
4,282582,B001EO5WZ4,A2MERSI1KHYIQB,"Kathy D. FERRELL ""Kat""",0.0,0.0,1.0,1325894400,Tastes Horrible!!!,Thank god amazon gave me my money back and I o...
...,...,...,...,...,...,...,...,...,...,...
995,65930,B0007A0AQW,A2NJSEH07UD6M8,Payton,0.0,0.0,5.0,1319932800,Payton LOVES these!,My lil pup loves his treats! Recently when I w...
996,465157,B0019H0YZ4,ARRVAYRLATRE5,JK,1.0,2.0,5.0,1329350400,I'm sticking with them,"Like many parents, I was shocked to hear today..."
997,393049,B003VXL0V6,A2TIGI9VK33WPQ,hazeleyesjudi,0.0,0.0,5.0,1306281600,One of my favorites!,I have had all of the various Keurigs since th...
998,79165,B0046HCH5Y,A127NYPMASKWFS,"Axis ""Freelance Media Designer""",0.0,0.0,5.0,1339113600,Delicious and diet-friendly!,I've tried every flavor of Betty Lou's Gluten ...
999,430883,B001EQ4ZTG,A2A2BPPJTYV4TU,J. Bayless,2.0,2.0,5.0,1264809600,my cats love this,My cats love this and the ones with sensitive ...

In [10]:
type(df)

pandas.core.frame.DataFrame

### Panels

Panels are 3 dimesional data represented through Pandas

## Accessing Multiple elements from a DataFrame

In [11]:
df[['Id','ProductId']]

         Id   ProductId
0     59033  B002HQLY7S
1    514838  B007IVEP8C
2    419751  B0029ZAOW8
3       870  B000VKYKTG
4    282582  B001EO5WZ4
..      ...         ...
995   65930  B0007A0AQW
996  465157  B0019H0YZ4
997  393049  B003VXL0V6
998   79165  B0046HCH5Y
999  430883  B001EQ4ZTG

[1000 rows x 2 columns]

In [12]:
type(df[['Id','ProductId']])

pandas.core.frame.DataFrame